body {
    /* width: 960px;  */
    /* margin: 0 auto;  */
    font-family: sans-serif;
    font-size: 14px;
    color: rgba(27, 21, 21, 0,2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*25% 25% 25% 25%;*/
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "photo photo photo photo"
      "main main main aside"
      "footer footer footer footer";
    justify-items: stretch;
    /*grid-gap: 10px 20px;*/
}

 .main_photo {
    display: flex;
} 

.header { grid-area: header;
    display: flex;
    justify-content:flex-end;
}  

.main_photo { grid-area: photo; 
    background-color: rgb(228, 224, 224);
    padding-left: 7px;
    display: flex;
}

.main { grid-area: main; 
    background-color: rgb(228, 224, 224);
    padding-left: 7px;
}
.aside { grid-area: aside;
    background-color: rgb(240, 238, 150);
    padding: 20px 20px;
    position: relative;
    /* z-index: 10; */
}

form header {
    padding-bottom: 17px;
    font-weight: bold;
}

.footer { grid-area: footer; 
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: smaller;
    /*background-color: rgb(197, 193, 193);*/
    background-color: rgb(241, 241, 212);
    padding-top: 20px;
}


h1 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5px;
}

p {
    text-align:justify;
    padding: 10px;
}

p span {
    font-weight: bolder;
}

/*.navigation {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
    padding: 2px 6px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(240, 240, 192);
    color: black;
}

li.navigation:hover,
li.navigation:active {
    font-weight: bolder; 
}*/

/* #navbarNav{
    justify-content:flex-end;
} */


 /*.navbar-collapse {
    justify-content:flex-end;
}*/

/*table, th, td {
    border: solid 1px grey;
    border-collapse: collapse;
}
td {
    padding-right: 40px;
} */

.table {
    width: 50%;

}
